<div class="main">
  <div
    class="max-w-screen-xl text-center flex flex-col items-center justify-center h-full mx-auto w-[90vw]"
  >
    <h1 [style.animationDelay]="'300ms'" class="text-5xl font-bold text-center animate_down">
      Welcome to <span class="text-rose-600">Thinkups</span>
    </h1>
    <p [style.animationDelay]="'600ms'"  class="max-w-[600px] my-4 text-gray-600 animate_down">
      We specialize in crafting creative solutions that drive success. Our
      expert team pays meticulous attention to detail to understand your unique
      needs, ensuring excellence in every project.
    </p>
    <div [style.animationDelay]="'900ms'"  class="my-4 btn animate_down">
      <a class="rounded-full bg-rose-600 text-white font-semibold p-2 px-4 mr-4"
        >Register</a
      ><a class="rounded-full text-rose-600 bg-rose-100 p-2 px-4">Contact</a>
    </div>
  </div>
</div>
